String based questions

Q1.Write a program to reverse a string.

In [72]:
# code:-

st=input("enter any string:- ")

reverse_string=st[::-1]

print("the string after reversing it is:- ",reverse_string)

enter any string:-  ayush

the string after reversing it is:-  hsuya

Q2. Check if a string is a palindrome.

In [73]:
st=input("enter the string:- ")

reverse_str=st[::-1]

if(reverse_str==st):
    print("it is palindrome string")
    
else:
    print("it is not palindrome string")

enter the string:-  racecar

it is palindrome string

Q3. Convert a string to uppercase.

In [74]:
st=input("enter any string:- ")

upper_string=st.upper()
print("the string in uppercase:- ",upper_string)

enter any string:-  pwskills

the string in uppercase:-  PWSKILLS

Q4. Convert a string to lowercase.

In [75]:
st=input("enter any string:- ")

lower_string=st.lower()
print("the string in lowercase:- ",lower_string)

enter any string:-  PWSKILLS

the string in lowercase:-  pwskills

Q5. Count the number of vowels in a string.

In [76]:
st=input("Enter the string:- ")
count=0
vowels='aeiouAEIOU'
for char in st:
    if char in vowels:
        count=count+1
        
print("the count of vowels in a sstring is:- ",count)

Enter the string:-  hey how are you

the count of vowels in a sstring is:-  6

Q6. Count the number of consonants in a string.

In [77]:
st=input("Enter the string:- ")
count=0
vowels='aeiouAEIOU'                 # except the vowels in the alphabet all are consonant so we use not in vowels
st=st.replace(" ","")              # The space is replaced by blank because it is counting the space also
for char in st:
    if char not in vowels:
        count=count+1
        
print("the count of consonants in a string is:- ",count)

Enter the string:-  full stack data science pro batch

the count of consonants in a string is:-  19

Q7. Remove all whitespaces from a string.

In [78]:
def remove_whitespace(input_string):
    return input_string.replace(" ","")


user_input=input("Enter the string:- ")
output=remove_whitespace(user_input)
print("The string after removing whitespace:- ",output)

Enter the string:-  hey how are you

The string after removing whitespace:-  heyhowareyou

Q8. Find the length of a string without using the `len()` function.

In [79]:
def string_len(input_string):
    count = 0
    for _ in input_string:     # this loop will iterate through  each character
        count += 1
    return count

# Example usage
user_input=input("Enter the string:- ")
length = string_len(user_input)
print("Length:", length)

Enter the string:-  data science

Length: 12

Q9. Check if a string contains a specific word.

In [80]:
def checking_word(input_string, specific_word):
    return specific_word in input_string


user_input = input("Enter the string:- ")
word = input("Enter the word:- ")
if checking_word(user_input,word):
    print(f"The string contains the '{word}' ")
else:
    print(f"the string did not contain '{word}' ")

Enter the string:-  full stack data science
Enter the word:-  science

The string contains the 'science'

Q10. Replace a word in a string with another word.

In [81]:
def replace_word(input_string, old_word, new_word):
    return input_string.replace(old_word, new_word)


user_input = input("Enter a string: ")
word1 = input("Enter the word you want to replace: ")
word2 = input("Enter the new word: ")

output_string = replace_word(user_input, word1, word2)
print("Updated string:", output_string)

Enter a string:  hey how are you
Enter the word you want to replace:  hey
Enter the new word:  hello

Updated string: hello how are you

Q11. Count the occurrences of a word in a string.

In [82]:
def counting_word_occurrences(input_string, target_word):
    words = input_string.split()
    count = 0
    for word in words:
        if word == target_word:
            count += 1
    return count


user_input= input("Enter a string: ")
counter_word = input("Enter the word to count: ")

occurrences = counting_word_occurrences(user_input, counter_word)
print(f"The word '{counter_word}' appears {occurrences} times in the string.")

Enter a string:  twinkle twinkle littile star
Enter the word to count:  twinkle

The word 'twinkle' appears 2 times in the string.

Q12. Find the first occurrence of a word in a string.

In [84]:
def first_occurrence_index(input_string,word):
    index=input_string.find(word)
    return index

user_input=input("Enter any string:- ")
word=input("Enter the word to find its first occurrence:- ")

final_count=find_occurrence_index(user_input,word)

if first_occurrence_index!=-1:
    print(f" the first occurrence of '{word}' starts at index {final_count}")
    
else:
    print(f"{word} not found in string")

Enter any string:-  hello how  are you
Enter the word to find its first occurrence:-  are

 the first occurrence of 'are' starts at index 11

Q13. Find the last occurrence of a word in a string.

In [86]:
def last_occurrence_finder(input_string,word):
    index=input_string.rfind(word)
    return index

user_input=input("Enter any string:- ")
word=input("Enter word to find its last occurence in the string:- ")

final_output=last_occurrence_finder(user_input,word)

if last_occurrence_finder!=-1:
    print(f"The last occurence of '{word}' ends with index {final_output}")
    
else:
    print(f"'{word}' not found in a string")

Enter any string:-
Enter word to find its last occurence in the string:-

The last occurence of '' ends with index 0

Q14. Split a string into a list of words.

In [87]:
def split_string(input_string):
    spliting=input_string.split()
    return spliting

user_input=input("Enter the string:- ")

output=split_string(user_input)

print("The string after spliting looks like:- ",output)
print("The type of output is:- ",type(output))

Enter the string:-  full stack data science pro batch

The string after spliting looks like:-  ['full', 'stack', 'data', 'science', 'pro', 'batch']
The type of output is:-  <class 'list'>

Q15. Join a list of words into a string.

In [88]:
li=["hey","how","are","you"]

join_string=" ".join(li)   # " " this is a seperator used between words
print(f"The string is '{join_string}'")

The string is 'hey how are you'

Q16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [89]:
def space_to_underscore(input_string):
    modified_string=input_string.replace(" ","_")
    return modified_string

user_input=input("Enter any string:- ")
output=space_to_underscore(user_input)

print(f"The modified string is '{output}'")

Enter any string:-  hello how are you

The modified string is 'hello_how_are_you'

Q17. Check if a string starts with a specific word or phrase.

In [90]:
user_input=input("Enter string:- ")
word=input("Enter the word or phrase:- ")

if user_input.startswith(word):
    print(f"Yes the string startswith '{word}'")
    
else:
    print(f"No string does not startswith '{word}'")

Enter string:-  full stack data science
Enter the word or phrase:-  full

Yes the string startswith 'full'

Q18. Check if a string ends with a specific word or phrase.

In [91]:
user_input=input("Enter string:- ")
word=input("Enter the word or phrase:- ")

if user_input.endswith(word):
    print(f"Yes the string endswith '{word}'")
    
else:
    print(f"No string does not endswith '{word}'")

Enter string:-  full stack data science pro
Enter the word or phrase:-  pro

Yes the string endswith 'pro'

Q19. Convert a string to title case

In [92]:
user_input=input("enter the string:- ")

modified_string=user_input.title()

print("The modified string is:- ",modified_string)

enter the string:-  hey how are you

The modified string is:-  Hey How Are You

Q20. Find the longest word in a string.

In [93]:
def max_finder(input_string):
    splits=user_input.split()
    maximum=max(splits,key=len)
    return maximum

user_input=input("Enter string:- ")
output=max_finder(user_input)
length=len(output)


print(f"The longest word from a sting is '{output}' having a length {length}")

Enter string:-  full stack data science pro

The longest word from a sting is 'science' having a length 7

Q21. Find the shortest word in a string.

In [94]:
def min_finder(input_string):
    splits=user_input.split()
    minimum=min(splits,key=len)
    return minimum

user_input=input("Enter string:- ")
output=min_finder(user_input)
length=len(output)


print(f"The shortest word from a sting is '{output}' having a length {length}")

Enter string:-  full stack data science pro

The shortest word from a sting is 'pro' having a length 3

Q22. Reverse the order of words in a string.

In [95]:
""" 
steps to do this code is:- 
step1:- first convert a string into list of words
step2:- Then reverse the whole list and  convert again this list into a string

"""

def reverse_string(input_string):
    splits=input_string.split()
    reversing=splits[::-1]
    joining=" ".join(reversing)
    return joining

user_input=input("enter any string:- ")
output=reverse_string(user_input)

print("First string:- ",user_input)
print("Reversed string:- ",output)

enter any string:-  hey how are you

First string:-  hey how are you
Reversed string:-  you are how hey

Q23. Check if a string is alphanumeric.

In [98]:
user_input=input("Enter any string:- ")

if user_input.isalnum():
    print("The string is alphanumeric")
else:
    print("No string is not alphanumeric")

Enter any string:-  pwskills123

The string is alphanumeric

Q24. Extract all digits from a string.

In [99]:
def extract_digits(input_string):
    digits = [char for char in input_string if char.isdigit()]
    return "".join(digits)

text_with_digits = input("Enter the string:- ")
extracted_digits = extract_digits(text_with_digits)

print("The extracted digits from a strring is:- ",extracted_digits)

Enter the string:-  pwskills1234@gmail.com

The extracted digits from a strring is:-  1234

Q25. Extract all alphabets from a string.

In [100]:
def alpha_extractor(input_string):
    alphabets=[char for char in input_string if char.isalpha()]
    return " ".join(alphabets)

user_input=input("Enter any string:- ")
final_output=alpha_extractor(user_input)

print(f"The extracted aplphabets are:- '{final_output}'")

Enter any string:-  pwskills fsds

The extracted aplphabets are:- 'p w s k i l l s f s d s'

Q26. Count the number of uppercase letters in a string.

In [101]:
def uppercase_counter(input_string):
    count=0
    for char in input_string:
        if char.isupper():
            count+=1
            
    return count

user_input=input("Enter any string:- ")
output=uppercase_counter(user_input)

print(f"the count of uppercase letters in the string is:- {output}")

Enter any string:-  Ayush Jain

the count of uppercase letters in the string is:-2

Q27. Count the number of lowercase letters in a string.

In [103]:
def lowercase_counter(input_string):
    count=0
    for char in input_string:
        if char.islower():
            count+=1
            
    return count

user_input=input("Enter any string:- ")
output=lowercase_counter(user_input)

print(f"the count of lowercase letters in the string is:-  {output}")

Enter any string:-  Ayush Jain

the count of lowercase letters in the string is:-  7

Q28. Swap the case of each character in a string.

In [104]:
def swaping_case(input_string):
    swaped_string=input_string.swapcase()
    return swaped_string

user_input=input("Enter any string:- ")
output=swaping_case(user_input)

print(f"Original string:- '{user_input}'")
print(f"Modified string:- '{output}'")

Enter any string:-  ayush jain

Original string:- 'ayush jain'
Modified string:- 'AYUSH JAIN'

Q29. Remove a specific word from a string.

In [105]:
def word_remover(input_string,specific_word):
    words=input_string.split()
    string_without_word=[word for word in words if word!=specific_word]
    return " ".join(string_without_word)

user_input=input("Enter any string:- ")
target_word=input("Enter the targeted word:- ")

final_output=word_remover(user_input,target_word)

print(f"Original string:- '{user_input}'")
print(f"Modified string after removing the '{target_word}' is:- '{final_output}'")

Enter any string:-  hey how are you
Enter the targeted word:-  hey

Original string:- 'hey how are you'
Modified string after removing the 'hey' is:- 'how are you'

Q30. Check if a string is a valid email address.

In [106]:
import re   # we have to import the re module to find the patterns in the Email address 

def is_valid_email(email):
    pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"   # this is our pattern 
    return re.match(pattern, email) 

email_address =input("Enter the email address:- ")
if is_valid_email(email_address):
    print(f"'{email_address}' is a valid email address.")
else:
    print(f"'{email_address}' is not a valid email address.")

Enter the email address:-  pwskills123@gmail.com

'pwskills123@gmail.com' is a valid email address.

Q31. Extract the username from an email address string.

In [107]:
def extract_name(input_string):
    spliting=input_string.split("@")
    username=spliting[0]
    return username

user_input=input("Enter a valid email address:- ")

output=extract_name(user_input)

print("The username is:- ",output)

Enter a valid email address:-  ayush123@gmail.com

The username is:-  ayush123

Q32. Extract the domain name from an email address string.

In [108]:
def domain_name(input_string):
    spliting=input_string.split("@")
    username=spliting[1]
    domain=username.split(".")[0]
    return domain

user_input=input("Enter a valid email address:- ")

output=domain_name(user_input)

print("The domain name is:- ",output)

Enter a valid email address:-  ayush123@gmail.com

The domain name is:-  gmail

Q33. Replace multiple spaces in a string with a single space.

In [109]:
user_input=input("Enter any string:- ")
spliting=user_input.split()

removing_multiple_space=" ".join(spliting)

print(f"Original string is '{user_input}'")
print(f"Modified string is '{removing_multiple_space}'")

Enter any string:-  hey     how         are       you

Original string is 'hey     how         are       you'
Modified string is 'hey how are you'

Q34. Check if a string is a valid URL.

In [110]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [111]:
import validators

def is_valid_url(url):
    return validators.url(url)



input_url=input("Enter the URL:- ")
if is_valid_url(input_url):
    print(f"{input_url} is a valid URL.")
else:
    print(f"{input_url} is not a valid URL.")

Enter the URL:-  https://gray-analyst-aimlb.pwskills.app/lab/tree

https://gray-analyst-aimlb.pwskills.app/lab/tree is a valid URL.

Q35. Extract the protocol (http or https) from a URL string.

In [112]:
input_string=input("Enter the valid URL:- ")

spliting=input_string.split(":")
protocol=spliting[0]

print(f"The protocol name from the url is '{protocol}'")

Enter the valid URL:-  https://gray-analyst-aimlb.pwskills.app/lab/tree

The protocol name from the url is 'https'

Q36. Find the frequency of each character in a string.

In [113]:
def frequency_counter(input_string):
    frequency={}
    for char in input_string:
        if char in frequency:
            frequency[char]+=1
        else:
            frequency[char]=1
            
    return frequency

user_input=input("Enter the string:- ")

char_freq=frequency_counter(user_input)


for char,freq in char_freq.items():
    print(f"the '{char}' occurs {freq} times")

Enter the string:-  hey how are you

the 'h' occurs 2 times
the 'e' occurs 2 times
the 'y' occurs 2 times
the ' ' occurs 3 times
the 'o' occurs 2 times
the 'w' occurs 1 times
the 'a' occurs 1 times
the 'r' occurs 1 times
the 'u' occurs 1 times

Q37. Remove all punctuation from a string.

In [114]:
import string

def remove_punctuation(input_string):
    return ''.join(char for char in input_string if char not in string.punctuation)

input_string = input("Enter the string")
cleaned_string = remove_punctuation(input_string)
print(cleaned_string)

Enter the string a!y$u!s#h

ayush

Q38. Check if a string contains only digits.

In [116]:
st=input("Enter the string:- ")

if st.isdigit():
    print("yes string only contains digit")
    
else:
    print("string is not in a numeric  form")

Enter the string:-  123456788910

yes string only contains digit

Q39. Check if a string contains only alphabets.

In [118]:
st=input("Enter the string:- ")

if st.isalpha():
    print("yes string only contains alphabets")
    
else:
    print("string also contains characters and numbers other than alphabet")

Enter the string:-  ayush

yes string only contains alphabets

Q40. Convert a string to a list of characters.

In [119]:
user_input=input("enter any string:- ")
list_of_words=user_input.split()
print(list_of_words)

enter any string:-  hey how are you

['hey', 'how', 'are', 'you']

Q41. Check if two strings are anagrams.

In [121]:
def anagram_checker(str1,str2):
    return (sorted(str1)==sorted(str2))

string1=input("Enter first string:- ")
string2=input("Enter second string:- ")

final_output=anagram_checker(string1,string2)

if final_output:
    print("The strings are anagrams")
    
else:
    print("The string are not anagrams")

Enter first string:-  live
Enter second string:-  evil

The strings are anagrams

Q42. Encode a string using a Caesar cipher.

In [122]:
def caesar_cipher_encrypt(text, shift, shift_letters=True, shift_digits=True):
    encrypted_text = ''
    for char in text:
        if char.isalpha() and shift_letters:
            base = ord('a') if char.islower() else ord('A')
            shifted_char = chr((ord(char) - base + shift) % 26 + base)
            encrypted_text += shifted_char
        elif char.isdigit() and shift_digits:
            shifted_digit = chr((ord(char) - ord('0') + shift) % 10 + ord('0'))
            encrypted_text += shifted_digit
        else:
            encrypted_text += char
    return encrypted_text

plain_text = input("Enter the string to encrypt:- ")
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(plain_text, shift_amount)
print("Original:", plain_text)
print("Encrypted:", encrypted_text)

Enter the string to encrypt:-  hello world

Original: hello world
Encrypted: khoor zruog

Q43. Decode a Caesar cipher encoded string.

In [123]:
def caesar_cipher_decrypt(encrypted_text, shift, shift_letters=True, shift_digits=True):
    decrypted_text = ''
    for char in encrypted_text:
        if char.isalpha() and shift_letters:
            base = ord('a') if char.islower() else ord('A')
            decrypted_char = chr((ord(char) - base - shift) % 26 + base)
            decrypted_text += decrypted_char
        elif char.isdigit() and shift_digits:
            decrypted_digit = chr((ord(char) - ord('0') - shift) % 10 + ord('0'))
            decrypted_text += decrypted_digit
        else:
            decrypted_text += char
    return decrypted_text

encrypted_text = input("Enter the string to decrypt:- ")
shift_amount = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_amount)
print("Encrypted:", encrypted_text)
print("Decrypted:", decrypted_text)

Enter the string to decrypt:-  khoor zruog

Encrypted: khoor zruog
Decrypted: hello world

Q44. Find the most frequent word in a string.

In [124]:
import re
from collections import Counter

def most_frequent_word(input_string):
    words = re.findall(r'\w+', input_string.lower())  # Find all words in the string
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)
    return most_common_word[0] if most_common_word else None

input_string = "This is a test string. This string is a test. Test is this."
result = most_frequent_word(input_string)

if result:
    most_common_word, frequency = result
    print(f"The most frequent word is '{most_common_word}' with frequency {frequency}.")
else:
    print("No words found in the input.")

The most frequent word is 'this' with frequency 3.

['ayush', 'jain', 'is', 'ayush', 'ayush']

Q45. Find all unique words in a string.

In [61]:
user_input="ayush jain from khajuriya sarangh from madhyapradesh"

spliting=user_input.split() # first we split the string into the words of the list
set_words=set(spliting)  # then converting the list into the set to get all the unique elements from the string

for i in set_words:  # itersting through each element from the set and printing it
    print(i)

jain
from
khajuriya
madhyapradesh
ayush
sarangh

Q46. Count the number of syllables in a string.

In [4]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    prev_char = None

    for char in word:
        if char in vowels and prev_char not in vowels:
            count += 1
        prev_char = char

    if word.endswith('e'):
        count -= 1

    return max(1, count)  # Minimum syllable count is 1

input_word = "satata"
syllable_count = count_syllables(input_word)
print(f"The word '{input_word}' has {syllable_count} syllables.")

The word 'satata' has 3 syllables.

Q47. Check if a string contains any special characters.

In [6]:
# Import the 'string' module, which contains a string constant 'punctuation' containing all punctuation characters.
import string

# Define a function called 'contains_special_characters' that takes an 'input_string' as an argument.
def contains_special_characters(input_string):
    # Iterate through each character 'char' in the input string.
    for char in input_string:
        # Check if the current character 'char' is in the 'string.punctuation' set.
        if char in string.punctuation:
            # If a punctuation character is found, immediately return True.
            return True
    # If no punctuation character is found after looping through the entire string, return False.
    return False

# Prompt the user to enter a string and store it in the variable 'test_string'.
test_string = input("Enter the string: ")

# Call the 'contains_special_characters' function with the 'test_string' and check its result.
if contains_special_characters(test_string):
    # If the function returns True, print a message indicating that the string contains special characters.
    print(f"'{test_string}' contains special characters.")
else:
    # If the function returns False, print a message indicating that the string does not contain special characters.
    print(f"'{test_string}' does not contain special characters.")

Enter the string:  ayush

'ayush' does not contain special characters.

Q48. Remove the nth word from a string.

In [8]:
# Define a function called 'remove_word' that takes two arguments:
# 'input_string' is the string from which a word will be removed,
# 'n' is the index of the word to remove.
def remove_word(input_string, n):
    # Split the input string into a list of words, using whitespace as the separator.
    spliting = input_string.split()
    
    # Remove the word at the specified index 'n' using the 'pop' method, which also returns the removed word.
    removing = spliting.pop(n)
    
    # Join the remaining words back into a single string with spaces between them.
    joining_string = " ".join(spliting)
    
    # Return the resulting string with the specified word removed.
    return joining_string

# Prompt the user to enter a string and store it in the variable 'user_input'.
user_input = input("Enter the string: ")

# Prompt the user to enter the index of the word they want to remove and convert it to an integer.
n_index = int(input("Enter the index of the word: "))

# Call the 'remove_word' function with the 'user_input' and 'n_index' as arguments, and store the result in 'final_output'.
final_output = remove_word(user_input, n_index)

# Print the final output, which is the input string with the specified word removed.
print(final_output)

Enter the string:  ayush jain is agood
Enter the index of the word:  2

ayush jain agood

Q49. Insert a word at the nth position in a string.

In [10]:
# Define a function called 'inserting_word' that takes three arguments:
# 'input_string' is the string in which a word will be inserted.
# 'n' is the index at which the word will be inserted.
# 'value' is the word to be inserted.
def inserting_word(input_string, n, value):
    # Split the input string into a list of words, using whitespace as the separator.
    splitting = input_string.split()
    
    # Use the 'insert' method to insert the specified 'value' at the specified index 'n' in the list.
    # Note that 'insert' modifies the list in place and returns 'None'.
    splitting.insert(n, value)
    
    # Join the modified list of words back into a single string with spaces between them.
    joining_string = " ".join(splitting)
    
    # Return the resulting string with the new word inserted.
    return joining_string

# Prompt the user to enter a string and store it in the variable 'user_input'.
user_input = input("Enter any string: ")

# Prompt the user to enter the word they want to insert and store it in the variable 'input_value'.
input_value = input("Enter the value or word to be entered in the string: ")

# Prompt the user to enter the index at which they want to insert the word and convert it to an integer.
nth_index = int(input("Enter the index for inserting the value: "))

# Call the 'inserting_word' function with the 'user_input', 'nth_index', and 'input_value' as arguments,
# and store the result in 'output'.
output = inserting_word(user_input, nth_index, input_value)

# Print the final output, which is the input string with the specified word inserted at the specified index.
print(output)

Enter any string:  full stack data science pro
Enter the value or word to be entered in the string:  batch
Enter the index for inserting the value:  -2

full stack data batch science pro

Q50. Convert a CSV string to a list of lists.

In [1]:
# Create an empty list to store the final output.
final_list = []

# Define a string 'x' containing comma-separated values.
x = '1,john,doe,28,it_sector,30000$,male,los_santos'

# Split the string 'x' into a list using ',' as the delimiter.
output = x.split(',')

# Append the resulting list 'output' to the 'final_list'.
final_list.append(output)

# Print the 'final_list', which contains the split values from the string 'x'.
print(final_list)

[['1', 'john', 'doe', '28', 'it_sector', '30000$', 'male', 'los_santos']]

Q1. Create a list with integers from 1 to 10.

In [125]:
lis=[1,2,3,4,5,6,7,8,9,10]
print(lis)
print("Type is:- ",type(lis))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Type is:-  <class 'list'>

Q2. Find the length of a list without using the `len()` function.

In [126]:
def len_counter(list1):
    count=0
    for _ in list1:
        count+=1
    return count

list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,"pwskills"]

output=len_counter(list1)
print("The count of elements in the list is:- ",output)

The count of elements in the list is:-  17

Q3. Append an element to the end of a list.

In [127]:
lis=[1,2,3,4,5,6,7]
lis1=lis.append(8)
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8]

Q4. Insert an element at a specific index in a list.

In [129]:
my_lis=["ayush","data science","pwskills","machine learning","deep learning"]

my_lis.insert(3,"large language model") # it will insert the  element at the third index
print(my_lis)   # updated list

['ayush', 'data science', 'pwskills', 'large language model', 'machine learning', 'deep learning']

Q5. Remove an element from a list by its value.

In [130]:
our_lis=["yellow","red","blue","green","purple","pink"]
our_lis.remove("pink")   # it will remove the elemennt 'pink' from the list
print(our_lis)           # updated list

['yellow', 'red', 'blue', 'green', 'purple']

Q6. Remove an element from a list by its index.

In [132]:
listt=["hii","hello","how",12,"are","you"]
listt.pop(3)   # it will remove the element at the third index and by default it will remove the last element from the list

# printing the updated list
print(listt)

['hii', 'hello', 'how', 'are', 'you']

Q7. Check if an element exists in a list.

In [133]:
lis1=[1,2,3,4,5,6,7,8,9,10]
element=int(input("Enter the element to check it is present in the list or not:- "))

if element in lis1:
    print("Yes it is present in the given list")
else:
    print("no the element is not present in the list")

Enter the element to check it is present in the list or not:-  3

Yes it is present in the given list

Q8. Find the index of the first occurrence of an element in a list.

In [134]:
elec=["mobile","macbook","ps4","speaker","headphones","speaker"]
indexing=elec.index("speaker")
print("the index of the first occur element is:- ",indexing)

the index of the first occur element is:-  3

Q9. Count the occurrences of an element in a list.

In [135]:
lis=[1,2,3,4,5,6,7,8,9,10,2,2,5,6,8,3,5,2,3,4,46,7,8,3,67,2]
element=int(input("Enter the element:- "))
counter=lis.count(element)   # it will give count of the particular elemnt in the list
print(f"The element {element} appears {counter} times in the list")

Enter the element:-  2

The element 2 appears 5 times in the list

Q10. Reverse the order of elements in a list.

In [136]:
lis=["pen","pencil","Eraser","sharpner","whitener","highlighter"]
reversed_list=lis[::-1]    # it will reverse the string
print("Original list:- ",lis)
print("Modified list:- ",reversed_list)

Original list:-  ['pen', 'pencil', 'Eraser', 'sharpner', 'whitener', 'highlighter']
Modified list:-  ['highlighter', 'whitener', 'sharpner', 'Eraser', 'pencil', 'pen']

Q11. Sort a list in ascending order.

In [137]:
lis=[2,5,2,4,6,1,7,4,6,89,12,89,220,876,423]
lis.sort()  # by default it will sort the values in ascending order (by default reverse=False)
print(lis)

[1, 2, 2, 4, 4, 5, 6, 6, 7, 12, 89, 89, 220, 423, 876]

Q12. Sort a list in descending order.

In [138]:
lis=[2,5,2,4,6,1,7,4,6,89,12,89,220,876,423]
lis.sort(reverse=True)  # for sorting in descending order we have to pass a  parametere reverse=True
print(lis)

[876, 423, 220, 89, 89, 12, 7, 6, 6, 5, 4, 4, 2, 2, 1]

Q13. Create a list of even numbers from 1 to 20.

In [139]:
# we are doing this question using the list comprehension
lis=[i for i in range(1,21) if i%2==0]
print(lis)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q14. Create a list of odd numbers from 1 to 20.

In [140]:
# we are doing this question using the list comprehension
lis=[i for i in range(1,21) if i%2!=0]
print(lis)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q15. Find the sum of all elements in a list.

In [144]:
lis=[10,10,10,21,21,10]
# for doing sum of all elements in the list we will using for loop
add=0
# loop  will iterate through all the element in the list 
for i in lis:
    add=add+i  # it will store the sum in every iteration
    
print(f"The addition of the {lis} is : {add} ")

The addition of the [10, 10, 10, 21, 21, 10] is : 82

Q16. Find the maximum value in a list.

In [146]:
lis=[18978,907388,4874235,189974271,72148414124,874714694867124,89786]
maximum=max(lis)   # finding the max value from the list using max() function
print(f"Maximum number from {lis} is:- ",maximum)

Maximum number from [18978, 907388, 4874235, 189974271, 72148414124, 874714694867124, 89786] is:-  874714694867124

Q17. Find the minimum value in a list.

In [147]:
lis=[18978,907388,4874235,189974271,72148414124,874714694867124,89786]
minimum=min(lis)   # finding the min value from the list using the min() function
print(f"Minimum number from {lis} is:- ",minimum)

Minimum number from [18978, 907388, 4874235, 189974271, 72148414124, 874714694867124, 89786] is:-  18978

Q18. Create a list of squares of numbers from 1 to 10.

In [148]:
# for solving this question we will use list comprehension
lis=[(i**2) for i in range(1,11)]
print(lis)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q19. Create a list of random numbers.

In [149]:
import random  # random is the library used to generate the random integer between given ranges

lis=[]  # created an empty list
n=int(input("Enter how many random numbers you want:- "))  # numbers of random number
for i in range(n):
    lis.append(random.randint(2,9)) # randint generate random numbers between given parametere (2,9)
print(lis)

Enter how many random numbers you want:-  19

[7, 4, 2, 5, 3, 7, 4, 8, 5, 9, 6, 9, 4, 5, 2, 6, 7, 4, 8]

Q20. Remove duplicates from a list.

In [151]:
lis=[1,2,3,4,7,51,4,12,2,45,6,8,90,5,3,5,6,7,8,5]
# using set comprehension
my_set={i for i in lis}  # set only contains unique elements because set does not allow duplicacy
print("Original list:- ",lis)
print("Modified list:- ",my_set)

Original list:-  [1, 2, 3, 4, 7, 51, 4, 12, 2, 45, 6, 8, 90, 5, 3, 5, 6, 7, 8, 5]
Modified list:-  {1, 2, 3, 4, 5, 6, 7, 8, 12, 45, 51, 90}

Q21. Find the common elements between two lists.

In [152]:
lis1=[1,2,3,4,5,6,7,8,9,10]
lis2=[4,5,10,9,12,13,14,15,16,17]
lis3=[]

for i in lis1:   # elements in the lis1
    if i in lis2: # if elements of lis1 in lis2 then append to lis3 else pass
        lis3.append(i)
        
print(lis3)  # common elements between both lists

[4, 5, 9, 10]

Q22. Find the difference between two lists.

In [153]:
lis1=[1,2,3,4,5,6,7]
lis2=[1,2,3,4,9,10,11]

# first we have to convert both the list into the sets to find the difference using the inbuilt function difference()

set1=set(lis1)
set2=set(lis2)

lis3=set1.difference(set2) # haves in set1 but not in set2
print("The difference between two list is:- ",list(lis3))

The difference between two list is:-  [5, 6, 7]

Q23. Merge two lists.

In [154]:
lis1=[1,2,3,4,5,6,7]
lis2=[1,2,3,4,9,10,11]

# we can merge two list using extend function

lis1.extend(lis2)
print(lis1)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 9, 10, 11]

Q24. Multiply all elements in a list by 2.

In [155]:
lis=[1,4,5,6,7,8,90,100]
new_lis=[i*2 for i in lis]  # list comprehension
print(new_lis)

[2, 8, 10, 12, 14, 16, 180, 200]

Q25. Filter out all even numbers from a list.

In [157]:
lis=[1,2,3,4,5,6,7,8,90,11,43,3383,83]
even_lis=[]
for i in lis:  # elements of lis
    if i%2==0: # if elements of lis are even then append in even_lis else pass
        even_lis.append(i)
print("Even number list from old list:- ",even_lis)

Even number list from old list:-  [2, 4, 6, 8, 90]

Q26. Convert a list of strings to a list of integers.

In [158]:
lis=["1","2","3","4","10"] # list of the string integers
new_lis=[int(i) for i in lis] # converting the string into int using list comprehension
print("Original list:- ",lis) # original list
print("Modified list:- ",new_lis) # printing the new lis

Original list:-  ['1', '2', '3', '4', '10']
Modified list:-  [1, 2, 3, 4, 10]

Q27. Convert a list of integers to a list of strings.

In [160]:
lis=[1,2,3,4,5,6,7,8,9,10]  # list of the integer
new_lis=[str(i) for i in lis] # converting the integer into string
print("Original string:- ",lis)  
print("Modifiednlist:- ",new_lis)

Original string:-  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modifiednlist:-  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

Q28. Flatten a nested list.

In [162]:
def flatten_list(nested):  # flattening the list means to convert the nested lists into a single list
    flattened=[]  # created an empty list
    for items in nested: # items contains in the nested list
        # isinstance checks the datatype of the item like (item,list) it is list or not
        if isinstance(items,list):   # if item is list then extend it in flattend list
            flattened.extend(flatten_list(items))
        else:          # if it is only single item then append it in flattened item
            flattened.append(items)
    return flattened  # return the flattened because we have created the function

nested_list=[[1,2,3],[3,4,5],78,90,[101,102,103]]  # nested list

final_output=flatten_list(nested_list)
print("The flattened list is:- ",final_output) # printing the result

The flattened list is:-  [1, 2, 3, 3, 4, 5, 78, 90, 101, 102, 103]

Q29. Create a list of the first 10 Fibonacci numbers.

In [163]:
def fibonacci_num(n):  # created a function
    fib_lis=[0,1]      # created a list of first two fibonacci numbers
    for i in range(2,n):  # iterating the i in the range of (2,n)
        fib2=fib_lis[i-1]+fib_lis[i-2]   # formula or logic to solve the fibonacci problem
        fib_lis.append(fib2) # appending the nex fib numbers in the fib_lis
    return fib_lis           # returning the fib lis because we have created a functions

n=10      # n is for how many fib numbers user wants in a list
final_list=fibonacci_num(n)
print("The fibonacci number list is:- ",final_list)

The fibonacci number list is:-  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Q30. Check if a list is sorted.

In [164]:
# for ascending order
def is_sorted(lis):  # created a function
    return all(lis[i]<=lis[i+1] for i in range(len(lis)-1)) # we have to check the list sorted in a ascending order 

unsorted_lis=[65,3,7,23,10,85]
sorted_lis=[10,20,20,30,40,900,10023,90023]

print(is_sorted(sorted_lis)) 
print(is_sorted(unsorted_lis))

True
False

Q31. Rotate a list to the left by `n` positions.

In [165]:
def rotate_left(lis,n):
    n=n%len(lis)    # to ensure the n is within the length of list
    
    rotated=lis[n:]+lis[:n]
    return rotated

my_lis=[1,2,3,4,5,6]
n=2

final_list=rotate_left(my_lis,n)
print(final_list)

[3, 4, 5, 6, 1, 2]

Q32. Rotate a list to the right by `n` positions.

In [166]:
def rotate_right(lis,n):
    n=n%len(lis)
    rotated=lis[-n:]+lis[:-n]
    return rotated
my_lis=[1,2,3,4,5,6]
n=2
final_lis=rotate_right(my_lis,n)
print(final_lis)

[5, 6, 1, 2, 3, 4]

Q33. Create a list of prime numbers up to 50.

In [168]:
l=[]  # created an empty list
for i in range(2,50+1): # iterating i from the range 2 to 51
    for j in range(2,i):  # iterating the j int the range of 2 to i(value of i depends upoun the iteration of above loop)
        if(i%j==0):      # if i%j==0 then break the second loop 
            break
    else:
        l.append(i) # append the i in the list 'l'
print(l) # print the list of the prime numbers

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Q34. Split a list into chunks of size `n`.

In [169]:
def list_into_chunks(lis,n):  # creating the function
    return [lis[i:i+n] for i in range(0,len(lis),n)] # it will return a list splits into the chunks of the size 'n'

original_lis=[1,2,3,4,5,6,7,8,9,10]
chunks=int(input("Enter the size of the chunks:- "))  # size of chunk

final_lis=list_into_chunks(original_lis,chunks)
print("Chunked list:- ",final_lis)

Enter the size of the chunks:-  4

Chunked list:-  [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10]]

Q35. Find the second largest number in a list.

In [171]:
def second_largest(lis):   # created a function
    if len(lis)<2:  # giving the condition the list must contains elements more than two
        print("The list must contain more than two element")
    
    sorting_number=sorted(lis,reverse=True) # in descending order
    second_max=sorting_number[1]   # taking the second max element in the consideration
    return second_max    # returning the second max because we have created a function  

my_lis=[23,84,1,7,92,3333333,5,6,2,90,54,78,89]
final_lis=second_largest(my_lis)

print("The second largest number is:- ",final_lis)

The second largest number is:-  92

Q36. Replace every element in a list with its square.

In [173]:
lis=[12,13,14,22]  # created a list

my_lis=[x**2 for x in lis]    # created a list comprehension to replace the elements in the lis with its square
print("Original list:- ",lis)
print("Modified list:- ",my_lis)

Original list:-  [12, 13, 14, 22]
Modified list:-  [144, 169, 196, 484]

Q37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [177]:
original_list = ['apple', 'banana', 'cherry', 'date']

result_dict = {}  # created an empty dictionary 

for keys,values in enumerate(original_list):  # iterating the keys and values in a list using the enumerate() function
    result_dict[values] = keys  # it will give values of list as keys and indices of list as values of dictionary

print(result_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

Q38. Shuffle the elements of a list randomly.

In [179]:
import random   # importing the library 'random'  to shuffle the elements of the list randomly
lis=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(lis) # shuffling the elements using shuffle() function
print("Randomly shuffled list:- ",lis)

Randomly shuffled list:-  [8, 5, 7, 6, 10, 9, 2, 3, 1, 4]

Q39. Create a list of the first 10 factorial numbers.

In [181]:
def factorial(n):  # created a function
    if n==0:     # if n==0 then return 1
        return 1
    else:
        return (n*factorial(n-1)) # else use this formula
    
first_10_fact=[factorial(i) for i in range(1,10+1)]  # store the first 10 factorial number using list comprehension
print(first_10_fact)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

Q40. Check if two lists have at least one element in common.

In [ ]:
# created two lists 
lis1=[1,2,3,4,5,6,7,8,9,10]
lis2=[1,2,3,11,12,13,14,15]

# converting both the list into set by typecasting()
set1=set(lis1)
set2=set(lis2)

# using the inbuilt function of set intersection() to find common elements
diff=set1.intersection(set2)

if len(list(diff))==1: # if len of common elements is 1
    print("yes there is at least one common element")
    print(list(diff))
else:    
    print("more than one comman elements")
    print("Common element:- ",list(diff))

Q41. Remove all elements from a list.

In [4]:
lis=[1,2,3,4,5,6,7,8,9,10]  # created a list
lis.clear() # using the inbuilt function of list clear() to remove all elements from the list
print(lis)

[]

Q42. Replace negative numbers in a list with 0.

In [6]:
lis=[-23,-90,-45,67,98]  # created a list of positive and negative integers

my_lis=[x if x>=0 else 0 for x in lis] # using list comprehension to print number as it is if it is positive number and if it is negative then replace it with 0 

print(my_lis)

[0, 0, 0, 67, 98]

Q43. Convert a string into a list of words.

In [8]:
string="full stack data science pro batch"

list_of_word=string.split() # spliting the words in a string into the list
print(list_of_word)

['full', 'stack', 'data', 'science', 'pro', 'batch']

Q44. Convert a list of words into a string.

In [10]:
lis=['full', 'stack', 'data', 'science', 'pro', 'batch']
string=' '.join(lis)   # joining the words of the list by " " in string
print(string)

full stack data science pro batch

Q45. Create a list of the first `n` powers of 2.

In [12]:
n = 10  # range of the powers of 2
powers_of_2 = [2 ** i for i in range(n)] # list comprehension stores the first n powers of 2

print(powers_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

Q46. Find the longest string in a list of strings.

In [13]:
lis=["full","stack","data","science","pro","batch"]  # created a list of words

longest_string=max(lis,key=len)  # finding the longest word in the list on the basis of len() function
print("Longest string in the list is:- ",longest_string)

Longest string in the list is:-  science

Q47. Find the longest string in a list of strings.

In [14]:
lis=["full","stack","data","science","pro","batch"]    # created a list of the words

shortest_string=min(lis,key=len)    # finding the shortest word in a list on the basis of len() function
print("shortet string in the list is:- ",shortest_string)

shortet string in the list is:-  pro

Q48. Create a list of the first `n` triangular numbers.

In [16]:
def triangular_number_list(n):  # created a function
    triangular_list=[]   # creating the empty list to append the triangular number in it
    for i in range(1,n+1):   # iterating the i in the range of(1,n+1)
        triangular_number=i*(i+1)//2  # formula
        triangular_list.append(triangular_number)  # appending the triangular number in the list
    return triangular_list    # returning the triangular list because we have created a function
n=int(input("Enter the triangular numbers you want:- "))   #taking input from user how many triangular number we want

final_output=triangular_number_list(n)

print(final_output)  # printing the final output or list

Enter the triangular numbers you want:-  10

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

Q49. Check if a list contains another list as a subsequence.

In [17]:
def is_subsequence(sub, lst):
    sub_len = len(sub)
    lst_len = len(lst)

    if sub_len == 0:
        return True  # An empty list is always a subsequence

    sub_index = 0  # Index for the subsequence

    for element in lst:
        if element == sub[sub_index]:
            sub_index += 1  # Move to the next element in the subsequence

            if sub_index == sub_len:
                return True  # Entire subsequence found

    return False  # Subsequence not found

# Example usage:
main_list = [1, 2, 3, 4, 5, 6, 7]
subsequence = [2, 4, 6]

result = is_subsequence(subsequence, main_list)

if result:
    print("The subsequence is present.")
else:
    print("The subsequence is not present.")

The subsequence is present.

Q50. Swap two elements in a list by their indices.

In [18]:
# creating a list
my_list = [1, 2, 3, 4, 5]

# Indices of the elements to be swapped
index1 = 1
index2 = 3

# Perform the swapping operation
my_list[index1], my_list[index2] = my_list[index2], my_list[index1] # this means (replacing the element of index 1 with 3 and vice-versa)

# printing the modified list
print("List after swapping elements:")
print(my_list)

List after swapping elements:
[1, 4, 3, 2, 5]

Tuple based question:

Q1. Create a tuple with integers from 1 to 5.

In [19]:
# creating a tuple having counting from 1 to 5
tupl=(1,2,3,4,5)
# tuples are created by using parenthisis
print(tupl)

(1, 2, 3, 4, 5)

Q2. Access the third element of a tuple.

In [20]:
tupl=(1,3,5,6,7,8,9,10)
# we can access the third element of the tuple by its indexing
print("the third element in the tuple is:- ",tupl[2])

the third element in the tuple is:-  5

Q3. Find the length of a tuple without using the `len()` function.

In [21]:
# first creating a tuple
tupl=(1,2,3,4,5,6,7,8,9,10,11,12,13,12)
# instead of using len() function we can use '_'(underscore) which will iterate through each element
# declare a variable called counter to count the len of tupl
counter=0
for _ in tupl:
    counter+=1
print("the length of the tuple is:- ",counter)

the length of the tuple is:-  14

Q4. Count the occurrences of an element in a tuple.

In [22]:
# create a tuple
tupl=(1,2,3,4,5,6,7,8,9,10,11,12,13,12,3,5,6,4,5,6,4,5,6,4,6,55,6)
# count() function returns the count of the particular element
counter=tupl.count(3)
# printing the counter
print("The count of the given elemnent is:- ",counter)

The count of the given elemnent is:-  2

Q5. Find the index of the first occurrence of an element in a tuple.

In [23]:
# create a tuple
tupl=(1,2,3,4,5,6,7,8,9,10,11,12,13,12,3,5,6,4,5,6,4,5,6,4,6,55,6)
# the index() function returns the index of given elements as parametere
index_of_element=tupl.index(11)
# printing the index of the given element
print("The index of the given element is:- ",index_of_element)

The index of the given element is:-  10

Q6. Check if an element exists in a tuple.

In [24]:
# creating the tuple
tupl=(1,2,3,4,5,6,7,8,9,10)
# the we use if else condition to see the element exist in the tuple or not
# taking element input from user
n=int(input("Enter the element to check it is present in the tuple or not:- "))

if n in tupl:
    print("Yes! it is present")
else:
    print("No! it is not present in the tuple")

Enter the element to check it is present in the tuple or not:-  5

Yes! it is present

Q7. Convert a tuple to a list.

In [25]:
# first creating the tuple
tupl=(1,2,3,4,5,6,7,8)
# then converting it into a list using typecasting(converting one datatype to another)
lis=list(tupl)
print("Before typecasting the type is:- ",type(tupl))
print("After typecasting the type is:- ",type(lis))

Before typecasting the type is:-  <class 'tuple'>
After typecasting the type is:-  <class 'list'>

Q8. Convert a tuple to a list.

In [26]:
# first creating the list
my_lis=[1,2,3,4,5,6,7,8]
# then converting the list into tuple using typecasting(converting one datatype to another)
my_tupl=tuple(my_lis)
print("Before typecasting the type is:- ",type(my_lis))
print("After typecasting the type is:- ",type(my_tupl))

Before typecasting the type is:-  <class 'list'>
After typecasting the type is:-  <class 'tuple'>

Q9. Unpack the elements of a tuple into variables.

In [27]:
# Step 1: Create a tuple
my_tupl = (10, 20, 30,40,50)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3,var4,var5 = my_tupl

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)
print("var5:", var5)

var1: 10
var2: 20
var3: 30
var4: 40
var5: 50

Q10. Create a tuple of even numbers from 1 to 10.

In [28]:
# step1: doing a tuple comprehension means giving loop and conditions in the single tuple itself
tupl=tuple((x for x in range(1,11) if x%2==0))
# for performing the tuple comprehension we have to wrap the generator fuction around the ttuple()
# step2: printing the tuple
print(tupl)

(2, 4, 6, 8, 10)

Q11. Create a tuple of odd numbers from 1 to 10.

In [29]:
# step1: doing a tuple comprehension means giving loop and conditions in the single tuple itself
tupl=tuple((x for x in range(1,11) if x%2!=0))
# for performing the tuple comprehension we have to wrap the generator fuction around the ttuple()
# step2: printing the tuple
print(tupl)

(1, 3, 5, 7, 9)

Q.12 Concatenate two tuples.

In [30]:
# creating the two tuple
tupl1=(1,2,3,4,5,6)
tupl2=(7,8,9,10,11,12)

# concating both the tuple with the help of addition '+' symbol
tupl3=tupl1+tupl2
# printing the concated tuple
print("The concated  tuple is:- ",tupl3)

The concated  tuple is:-  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

Q13. Repeat a tuple three times.

In [31]:
# step1: first create a tuple
tupl=(1,2,3)
#step2: then use star sign to three times the tuple 
tip=tupl*3
# step:3 then print the modified tuple
print("Modified tuple:- ",tip)

Modified tuple:-  (1, 2, 3, 1, 2, 3, 1, 2, 3)

Q14. Check if a tuple is empty.

In [34]:
# step1: create a tuple
tupl1=(1,2,3,4,5,6,7,8,9,10)
tupl2=()

# created the two tuple one having the eelement and another is empty
# checking length of the tuple

length1=len(tupl1)
length2=len(tupl2)
# checking the empty of h=filled with conditional statement
if(length1>=1):
    print(f"it {tupl1} is not empty tuple")

if (length2<1):
    print(f"it is {tupl2} empty tuple")

it (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) is not empty tuple
it is () empty tuple

Q15. Create a nested tuple.

In [35]:
# step1: creating a nested tuple(tuple inside the tuple)
tupl=(1,2,3,(8,9,3),(1,6,7))
# the nested tuple  is created 
# step2: printing it
print("The nested tuple:- ",tupl)

The nested tuple:-  (1, 2, 3, (8, 9, 3), (1, 6, 7))

Q16. Access the first element of a nested tuple.

In [36]:
# step1: created a nested tuple
tupl=((1,2,3),(8,9,3),(1,6,7))
# by using indexing of element we access the first element of the nested tuple
element=y=tupl[0][0]
# printing the first element
print("The first element is:- ",element)

The first element is:-  1

Q17. Create a tuple with a single element.

In [37]:
# creating the tuple with single element is like
tupl=(1,)
print("The tuple is:- ",tupl)
print("Type:- ",type(tupl))
# type function will give the datatype of the data given as parametere

The tuple is:-  (1,)
Type:-  <class 'tuple'>

Q18. Compare two tuples.

In [38]:
# Step 1: Create two tuples
tupl1 = (100,200,300,500)
tupl2 = (100,200,300,100000)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tupl1 == tupl2)  # Equality check
print("tuple1 != tuple2:", tupl1 != tupl2)  # Inequality check
print("tuple1 < tuple2:", tupl1 < tupl2)    # Less than check
print("tuple1 <= tuple2:", tupl1 <= tupl2)  # Less than equals to check
print("tuple1 > tuple2:", tupl1 > tupl2)    # Greater than check
print("tuple1 >= tuple2:", tupl1 >= tupl2)  # Greater than equals to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

Q19. Delete a tuple.

In [41]:
# Step 1: Create a tuple
tupl=(1, 2, 3, 4, 5)

# Step 2: Deleting the tuple using the 'del' statement
del tupl

# Step 3: Try to access the tuple (will gave   a NameError)
print(tupl)

NameError: name 'tupl' is not defined

Q20. Slice a tuple.

In [42]:
# step1: crrating the tuple
tupl=(1,2,3,4,5,6,7,8,9,10,11)
# we can slice the tuple using indexes and colon ':'
sliced_part=tupl[2:8]
print("The sliced part of the tuple is:- ",sliced_part)

The sliced part of the tuple is:-  (3, 4, 5, 6, 7, 8)

Q21. Find the maximum value in a tuple.

In [43]:
# step1: creating the tuple
tupl=(12,3,4,5,890,123456,86554,1421441,5686)
# step2: checking the maximum value using the max() function
max_value=max(tupl)
# step3: printing the maximum value
print("The maximum value in the tuple is:- ",max_value)

The maximum value in the tuple is:-  1421441

Q22. Find the minimum value in a tuple.

In [44]:
# step1: creating the tuple
tupl=(12,3,4,5,890,123456,86554,1421441,5686)
# step2: checking the minimum value using the min() function
min_value=min(tupl)
# step3: printing the minimum value
print("The minimum value in the tuple is:- ",min_value)

The minimum value in the tuple is:-  3

Q23. Convert a string to a tuple of characters.

In [45]:
# Step 1: Create a string
string = "pwskills fsds"

# Step 2: Convert the string to a tuple of characters
characters_in_tuple = tuple(string)

# Step 3: Print the tuple of characters
print("Tuple of characters:",characters_in_tuple)

Tuple of characters: ('p', 'w', 's', 'k', 'i', 'l', 'l', 's', ' ', 'f', 's', 'd', 's')

Q24. Convert a tuple of characters to a string.

In [46]:
# step1: creating the tuple of the characters
tupl=('p', 'w', 's', 'k', 'i', 'l', 'l', 's', ' ', 'f', 's', 'd', 's')
#step2: join the characters using join method
string_of_character=''.join(tupl)
# step3: modified string
print("Modified string:- ",string_of_character)

Modified string:-  pwskills fsds

Q25. Create a tuple from multiple data types.

In [47]:
# step1: ccreating the tuple having multiple datatype
tupl=(1,2,3,4+5j,"pwskills",5.4)
print(tupl)

(1, 2, 3, (4+5j), 'pwskills', 5.4)

Q26. Check if two tuples are identical.

In [48]:
#step1: creating the tuple
tupl1=(1,2,3)
tupl2=(1,2,3)
tupl3=(4,5,6)
tupl4=(4,5,6)
# comparing the tuples using equality operator
are_identical1=(tupl1==tupl2)
are_identical2=(tupl3==tupl4)
are_identical3=(tupl1==tupl3)
are_identical4=(tupl1==tupl4)

# checking if the tuples are identical or not
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple3 and tuple4 are identical:", are_identical2)
print("tuple1 and tuple3 are identical:", are_identical3)
print("tuple1 and tuple4 are identical:", are_identical4)

tuple1 and tuple2 are identical: True
tuple3 and tuple4 are identical: True
tuple1 and tuple3 are identical: False
tuple1 and tuple4 are identical: False

Q27. Sort the elements of a tuple.

In [49]:
#step1: creating the tuple
tupl=(4,53,6,222,3,44,987,1,2,9,10)
#step2 : change the tuple into the list and again convert the sorted list into the tuple
new_tupl=tuple(sorted(tupl))
# step3: print the sorted tuple in ascending order
print("The sorted tuple:- ",new_tupl)

The sorted tuple:-  (1, 2, 3, 4, 6, 9, 10, 44, 53, 222, 987)

Q28. Convert a tuple of integers to a tuple of strings.

In [50]:
#step1: creating the tuple of  integer
tupl=(1,2,3,4,5,6,7,8,9,10)
# step2: doing the tuple comprehension
new_tupl=tuple(str(i) for i in tupl)
# step3: printing the new_tuple
print("Modified tuple:- ",new_tupl)

Modified tuple:-  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q29. Convert a tuple of strings to a tuple of integers.

In [51]:
# step1: creating the tuple
tupl=('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
# step2: doing the tuple comprehension
new_tupl=tuple(int(i) for i in tupl)
# step3: printing the modified tuple
print("The modified tuple:- ",new_tupl)

The modified tuple:-  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Q30. Merge two tuples.

In [52]:
# step1: creating the tuples
tupl1=(1,2,3,4,5,6)
tupl2=(7,8,9,10)
# step2: merging both the tuple using addition symbol '+'
tupl3=tupl1+tupl2
# step3: printing the merged tuple
print("The merged tuple:- ",tupl3)

The merged tuple:-  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Q31. Flatten a nested tuple.

In [53]:
# step1: creating the function
def flatten_tuple(tupl):
    flat_lis=[]
    for item in tupl:
        if isinstance(item,tuple):
            flat_lis.extend(flatten_tuple(item))
        else:
            flat_lis.append(item)
    # returning the flat_lis after converting it from list from tuple
    return tuple(flat_lis)

my_tupl=(1,2,3,(4,5,6,7),(8,9,10))
final_output=flatten_tuple(my_tupl)
# printing the final output
print("The flattened tuple:- ",final_output)

The flattened tuple:-  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Q32. Create a tuple of the first 5 prime numbers.

In [54]:
# first of all  we have to perform all the operations in the list and at the end wwe have to typecast this list into a tuple
# creating an empty list
lis=[]
for i in range(2,100):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        lis.append(i)
print("The tuple of first five numbers are:- ",tuple(lis)[:5])

The tuple of first five numbers are:-  (2, 3, 5, 7, 11)

Q33. Check if a tuple is a palindrome.

In [55]:
# step1: creating the function
def is_palindrome(tupl):
    return tupl==tupl[::-1]

# step2: creating two tuples and the test cases
palindrome_tuple=(1,2,1)
not_palindrome_tuple=(5,4,1)

test_case1=is_palindrome(palindrome_tuple)
test_case2=is_palindrome(not_palindrome_tuple)
# step3: checking this test cases
# palindrome means reads the same forwards and backwards
print("palindrom_tuple is palindrome:- ",test_case1)
print("not_palindrom_tuple is palindrome:- ",test_case2)

palindrom_tuple is palindrome:-  True
not_palindrom_tuple is palindrome:-  False

Q34. Create a tuple of squares of numbers from 1 to 5.

In [57]:
# step1: doing the tuple ccomprehension
tupl=tuple(i**2 for i in range(1,6))
# printing the tuple of squares of number from 1 to 5 is
print("tuple:- ",tupl)

tuple:-  (1, 4, 9, 16, 25)

Q35. Filter out all even numbers from a tuple.

In [58]:
#step1: creating the tuple
tupl=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17)
# step2: doing the tuple comprehension for filtering even numbers from tuple
new_tupl=tuple(i for i in tupl if i%2==0)
# step3: printing the new tuple
print("Filtered tuple having only even number:- ",new_tupl)

Filtered tuple having only even number:-  (2, 4, 6, 8, 10, 12, 14, 16)

Q36. Multiply all elements in a tuple by 2.

In [59]:
# step1: creating the tuple
tupl=(1,2,3,4,5,6,7,8,9,10)
# step2: doing the tuple  comprehension for multiplying every element with 2
new_tupl=tuple(i*2 for i in tupl)
# step3: printing the new tuple
print("Original tuple:- ",tupl)
print("Modified tuple:- ",new_tupl)

Original tuple:-  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Modified tuple:-  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

Q37. Create a tuple of random numbers.

In [60]:
# step1: importing the library called random
import random
# step2: doing tuple comprehension
tupl=tuple(random.randint(4,78) for _ in range(10))
# randint() generate random integer between start and end point
# step3: printing the tuple
print("The tuples of random numbers are:- ",tupl)

The tuples of random numbers are:-  (70, 51, 25, 58, 21, 29, 74, 51, 38, 44)

Q38. Check if a tuple is sorted.

In [61]:
# sorting operation will done in ascending order
#step1: creating a function
def is_sorted(tupl):
    return all (tupl[i]<=tupl[i+1] for i in range(len(tupl)-1))
# creating two tuples
tupl1=(1,2,388,34,23,2,4,1)
tupl2=(1,2,3,4,5,6,7,8,9,10)
# creating the two testcases
testcase1=is_sorted(tupl1)
testcase2=is_sorted(tupl2)

# checking the test cases
print("tupl1 is sorted:- ",testcase1)
print("tupl2 is sorted:- ",testcase2)

tupl1 is sorted:-  False
tupl2 is sorted:-  True

Q39. Rotate a tuple to the left by `n` positions.

In [62]:
# creating the function
def rotate_left(tupl,n):
    n=n%len(lis)    # to ensure the n is within the length of list
    rotated=tupl[n:]+tupl[:n]
    return rotated

my_tupl=(1,2,3,4,5,6)
n=3

final=rotate_left(my_tupl,n)
print("Fianl output after rotating left:- ",final)

Fianl output after rotating left:-  (4, 5, 6, 1, 2, 3)

Q40. Rotate a tuple to the right by `n` positions.

In [63]:
# creating the function
def rotate_right(tupl,n):
    n=n%len(lis)    # to ensure the n is within the length of list
    rotated=tupl[-n:]+tupl[:-n]
    return rotated

my_tupl=(1,2,3,4,5,6)
n=2

final=rotate_right(my_tupl,n)
print("Fianl output after rotating right:- ",final)

Fianl output after rotating right:-  (5, 6, 1, 2, 3, 4)

Q41. Create a tuple of the first 5 Fibonacci numbers.

In [64]:
# step1: creating a function
def fibonacci_num(n):
    # first we perform operations in the list
    fib_lis=[0,1]
    for i in range(2,n):
        fib2=fib_lis[i-1]+fib_lis[i-2]  # logic or formula
        fib_lis.append(fib2)
        # typecast list into tuple
    return tuple(fib_lis)

n=5
final_list=fibonacci_num(n)
print("The fibonacci number list is:- ",final_list)

The fibonacci number list is:-  (0, 1, 1, 2, 3)

Q42. Create a tuple from user input.

In [65]:
# step1: taking a string input from user
user_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
user_list = user_str.split(',')

# typecasted the list into the tuple
user_tuple = tuple(user_list)

# Printing the tuple input from user
print("User input tuple:", user_tuple)

Enter elements separated by commas:  a,y,u,s,h

User input tuple: ('a', 'y', 'u', 's', 'h')

Q43. Swap two elements in a tuple.

In [68]:
# creating the list because tuple is immutable and cannot supports the item assignment
lis=[1,2,3,4,5,6,7,8]

# creating two variable for indexes whose values are interchange with each other
a=1
b=6

# swapping the elements  means(element at index 1 is replaced by element at index 6)
temp=lis[a]
lis[a]=lis[b]
lis[b]=temp
# printing the swaped tuple typecasted from the list(lis)
print("Swaped tuple:- ",tuple(lis))

Swaped tuple:-  (1, 7, 3, 4, 5, 6, 2, 8)

Q44. Reverse the elements of a tuple.

In [69]:
# create a tuple
tupl=(1,2,3,4,5,6)
# for reversing the tuple we using slicing and jumping technique
reversed_tupl=tupl[::-1]
# printing the reversed tuple
print("Reversed tuple:- ",reversed_tupl)

Reversed tuple:-  (6, 5, 4, 3, 2, 1)

Q45. Create a tuple of the first `n` powers of 2.

In [70]:
# taking the 'n' input from the user

n=int(input("Enter the range:- "))

# for printing the first n powers of 2 we have to do a tupl comprehension

tupl=tuple(2**i for i in range(n))

# printing the modified tuple

print("modified tuple:- ",tupl)

Enter the range:-  7

modified tuple:-  (1, 2, 4, 8, 16, 32, 64)

Q46. Find the longest string in a tuple of strings.

In [71]:
# creating the tuple of the strings
tupl=("full","stack","data","science","pro")

# checking the maximum string in the tuple using max() function

maximum=max(tupl,key=len)

# printing the longest string from the tuple

print("Longest string:- ",maximum)

Longest string:-  science

Q47. Find the shortest string in a tuple of strings.

In [72]:
# creating the tuple of the strings
tupl=("full","stack","data","science","pro")

# checking the shortest string in the tuple using min() function

minimum=min(tupl,key=len)

# printing the shortest string from the tuple

print("Shortest string:- ",minimum)

Shortest string:-  pro

Q48. Create a tuple of the first `n` triangular numbers.

In [73]:
# creating the  function
def triangular_number_tuple(n):
    # performing operations in the list
    triang_list=[]
    for i in range(1,n+1):
        triang_num=i * (i+1) // 2  # formula '//' gives floor vaue like 4.5 it gives 4
        triang_list.append(triang_num)
    # typecast the list into tuple
    return tuple(triang_list)

n=int(input("Enter the triangular number you want:- "))
final=triangular_number_tuple(n)
# printing the tuple
print("Triangular number:- ",final)

Enter the triangular number you want:-  10

Triangular number:-  (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

Q49. Check if a tuple contains another tuple as a subsequence.

In [74]:
# creatin a function to check if a tuple contains another tuple as a subsequence
def contain_subseq(tupl, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(tupl) - sub_length + 1):
        if tupl[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
my_tupl = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subsequence = contain_subseq(my_tupl, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subsequence)

Main tuple contains subsequence tuple: True

Q50. Create a tuple of alternating 1s and 0s of length `n`.

In [75]:
# taking the 'n' input from user
n=int(input("Enter the value:- "))

# Create a tuple of alternating 1s and 0s using a list comprehension
alternate_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternate 1s and 0s
print("Tuple of alternate '1s' and '0s':- ", alternate_tuple)

Enter the value:-  10

Tuple of alternate '1s' and '0s':-  (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set based question:

Q1. Create a set with integers from 1 to 5.

In [76]:
# creating the set having the numbers 1 to 5

set1={1,2,3,4,5}
print(set1)
# sets only contains the unique element means sets does not allow duplicacy

{1, 2, 3, 4, 5}

Q2. Add an element to a set.

In [77]:
# step1: creating the set
set1={1,2,3,4,5,6,7,8,9}
# step2: adding the element in the set using add() function
set1.add(10)
# printing the modified set
print("Set:- ",set1)

Set:-  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q3. Remove an element from a set.

In [78]:
# step1: creating the set
set1={1,2,3,4,5,6,7,8,9,10}
#step2: Removing the element from the set using the remove() function 
set1.remove(5)
# printing the modified set
print("Set:- ",set1)

Set:-  {1, 2, 3, 4, 6, 7, 8, 9, 10}

Q4. Check if an element exists in a set.

In [79]:
#step1: creating the set
set1={1,2,3,4,5,6,7,8,9,10}
#step2: checking the existence of  the element in the set using the conditional statement
n=int(input("Enter the element you want to check its existence:- "))
if n in set1:
    print(f"Yes! the element {n} exist in {set1}")
else:
    print(f"NO! the element {n} does not exist in {set1}")

Enter the element you want to check its existence:-  9

Yes! the element 9 exist in {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q5. Find the length of a set without using the `len()` function.

In [80]:
#step1: creating the set
set1={1,2,3,4,5,6,7,8,9,10}
# initialising the counter variable to get the count of each element in a set
counter=0
# '_'(underscore) is used to iterate through each element
for _ in set1:
    counter+=1
# it will give the length of the set
print(f"The length of the {set1} is {counter}")

The length of the {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} is 10

Q6. Clear all elements from a set.

In [83]:
#step1: creating the set
set1={1,2,3,4,5,6,7,8,9,10}

# clearing the elements from the set using clear() function
set1.clear()

# printing the set
print("Empty set:- ",set1)

Empty set:-  set()

Q7. Create a set of even numbers from 1 to 10.

In [84]:
# first of all for doing that we have to do the set comprehension
set1={i for i in range(1,11) if i%2==0}
# printing the set containing even numbers from 1 to 10 
print("Set of even numbers from 1 to 10:- ",set1)

Set of even numbers from 1 to 10:-  {2, 4, 6, 8, 10}

Q8. Create a set of odd numbers from 1 to 10.

In [85]:
# first of all for doing that we have to do the set comprehension
set1={i for i in range(1,11) if i%2!=0}
# printing the set containing odd numbers from 1 to 10 
print("Set of odd numbers from 1 to 10:- ",set1)

Set of odd numbers from 1 to 10:-  {1, 3, 5, 7, 9}

Q9. Find the union of two sets.

In [86]:
#step1: creating the two sets
set1={1,2,3,4,5}
set2={4,5,6,7,8,9,10}
# finding the union(means unique elements from both the set) by union() function
set3=set1.union(set2)
# printing the sets after performing the union
print(f"The union of set1:- {set1} and set2:- {set2} is {set3}")

The union of set1:- {1, 2, 3, 4, 5} and set2:- {4, 5, 6, 7, 8, 9, 10} is {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q10. Find the intersection of two sets.

In [87]:
#step1: creating the two sets
set1={1,2,3,4,5}
set2={4,5,6,7,8,9,10}
# finding the intersection(only common elements in both set) by intersection() function
set3=set1.intersection(set2)
# printing the set after performing the intersection()
print(f"The intersection of set1:- {set1} and set2:- {set2} is {set3}")

The intersection of set1:- {1, 2, 3, 4, 5} and set2:- {4, 5, 6, 7, 8, 9, 10} is {4, 5}

Q11. Find the difference between two sets.

In [29]:
#step1: creating the sets
set1={1,2,3,4,5}
set2={4,5,6,7,8,9,10}
# finding the differenece between the two sets using difference() function
set3=set1.difference(set2)
# printing the differenece between the two sets
print(f"The difference between the set1:- {set1} and set2:- {set2} is:- {set3}")

The difference between the set1:- {1, 2, 3, 4, 5} and set2:- {4, 5, 6, 7, 8, 9, 10} is:- {1, 2, 3}

Q12. Check if a set is a subset of another set.

In [88]:
# craeting the two sets
set1={1,2,3}
set2={1,2,3,4,5,6}

# checking the subset with both the set using issubset() function
set1_sub_set2=set1.issubset(set2)
set2_sub_set1=set2.issubset(set1)

# printing the sets are subset of each other not
print(f"Does set1:- {set1} is subset of set2:- {set2}:- ",set1_sub_set2)
print(f"Does set2:- {set2} is subset of set1:- {set1}:- ",set2_sub_set1)

Does set1:- {1, 2, 3} is subset of set2:- {1, 2, 3, 4, 5, 6}:-  True
Does set2:- {1, 2, 3, 4, 5, 6} is subset of set1:- {1, 2, 3}:-  False

Q13. Check if a set is a superset of another set.

In [89]:
# creating the two set
set1={1,2,3}
set2={1,2,3,4,5,6}
""" A superset in math can be defined as a set of elements containing all
of the elements of another set."""

# finding the superset between both set using issuperset() function
set1_sup_set2=set1.issuperset(set2)
set2_sup_set1=set2.issuperset(set1)

# printing the sets are subset of each other not
print(f"Does set1:- {set1} is superset of set2:- {set2}:- ",set1_sup_set2)
print(f"Does set2:- {set2} is superset of set1:- {set1}:- ",set2_sup_set1)

Does set1:- {1, 2, 3} is superset of set2:- {1, 2, 3, 4, 5, 6}:-  False
Does set2:- {1, 2, 3, 4, 5, 6} is superset of set1:- {1, 2, 3}:-  True

Q14. Create a set from a list.

In [90]:
#step1: creating the list
lis=[1,2,3,4,5,6,7,8,9,10,1,3,6,8,9]
# then typecasting the list into the set
seti=set(lis)
# printing the set
# the set only prints the unique elements
print("Set:- ",seti)

Set:-  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q15. Convert a set to a list.

In [91]:
# creating the set
set1={1,2,3,4,5,6,7,8,9,10,1,3,4,6,7,9,8}
# then typecasting the set into list
lis=list(set1)
# printing the list 
print("List:- ",lis)

List:-  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q16. Remove a random element from a set.

In [93]:
#step1: importing the library random for choosing a random number
import random
#step2: we have to create an set
set1={1,2,3,4,5,6,7,8,9,10}
# now choosing the random element from the list(set-->list)
rand_element=random.choice(list(set1))
# then removing the rand element from the set set1
set1.remove(rand_element)
# printing the set after removing the random element
print("Random Element:- ",rand_element)
print("Modified set:- ",set1)

Random Element:-  4
Modified set:-  {1, 2, 3, 5, 6, 7, 8, 9, 10}

Q17. Pop an element from a set.

In [96]:
#step1: creating the set
set1={2,3,4,5,6,7,8,9,10,11}
#step2: The pop() method removes a random item from the set.
set1.pop()
# printing the set after removing the element by its index
print("Modified set:- ",set1)

Modified set:-  {3, 4, 5, 6, 7, 8, 9, 10, 11}

Q18. Check if two sets have no elements in common.

In [97]:
# Step 1: creating two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements which are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("There is no common elements between both the sets.")
else:
    print("There is common elements between both the sets:", common_elements)

There is no common elements between both the sets.

Q19. Find the symmetric difference between two sets.

In [98]:
"""
symmetric_difference() method returns a set that contains all items from both set,
but not the items that are present in both sets.
"""

#step1: creating the two set
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 3, 9, 4}
# step2: finding the symmetric difference between the sets using symmetric_difference() function
result=set1.symmetric_difference(set2)
# printing the result
print(result)

{1, 2, 5, 6, 7, 9}

Q20. Update a set with elements from another set.

In [99]:
# creating the two sets
set1={1,2,3,4}
set2={5,6,7,8}
print("Set1:- ",set1)
print("Set2:- ",set2)

# updating the elements of set2 in the set1 using update() function
set1.update(set2)
# printing the updated set
print("updated set:- ",set1)

Set1:-  {1, 2, 3, 4}
Set2:-  {8, 5, 6, 7}
updated set:-  {1, 2, 3, 4, 5, 6, 7, 8}

Q21. Create a set of the first 5 prime numbers.

In [100]:
#step1: creating the list
lis=[]
# then starting the  forloop having range(2,50) because 0 and 1 are not prime numbers
for i in range(2,50):
    # then create another loop that j in range(2,i)
    for j in range(2,i):
        # condition if i%j==0 then break because the  number(i) becomes 0 by doing the modulus with the numbers between range(2,i) is not a prime number  
        if(i%j==0):
            break
      # this condition (i%j!=0) then the i is prime      
    else:
        lis.append(i)   # appending the prime number in a list
        
set1=set(lis[:5]) #  '[:5] ' because we only want the first 5 prime numbers
# printing the set of first five prime numbers
print("Set of first 5 prime numbers is:- ",set1)

Set of first 5 prime numbers is:-  {2, 3, 5, 7, 11}

Q22. Check if two sets are identical.

In [101]:
# Step 1: creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # order of element not matters in the sets

# Step 2: Check if the sets are identical using the `==` equals to operator
# Sets are unordered
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

Q23. Create a frozen set.

In [102]:
# create a list of element
lis=[1,2,3,4,5]
# then convert the list into the frozenset using the  frozenset()
froz=frozenset(lis)
# printing the frozenset
print("Frozen set:- ",froz)

Frozen set:-  frozenset({1, 2, 3, 4, 5})

Q24. Check if a set is disjoint with another set.

In [104]:
# Two sets are said to be disjoint when their intersection is null

#step3: creating the sets
set1={1,2,3,4}
set2={5,6,7,8}
set3={2,4}

# checking the disjoint between the sets using isdijoint() function
set1_dj_set2=set1.isdisjoint(set2)
set1_dj_set3=set1.isdisjoint(set3)

# printing the result
print(f"set1:- {set1} is disjoint with set2:- {set2} :- ",set1_dj_set2)
print(f"set1:- {set1} is disjoint with set2:- {set3} :- ",set1_dj_set3)

set1:- {1, 2, 3, 4} is disjoint with set2:- {8, 5, 6, 7} :-  True
set1:- {1, 2, 3, 4} is disjoint with set2:- {2, 4} :-  False

Q25. Create a set of squares of numbers from 1 to 5.

In [105]:
# step1: creatin the set comprehension for doing squares of number 1 to 5
set1={i**2 for i in range(1,6)}
# printing the set of squares of the number 1 to 5
print("Set:- ",set1)

Set:-  {1, 4, 9, 16, 25}

Q26. Filter out all even numbers from a set.

In [106]:
# creating the set
set1={1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20}
# then creating the empty list to append the filtered even numbers from the set
lis=[]
for i in set1:
    if i%2==0:
        lis.append(i)
# then typecast the list into the set
my_set=set(lis)
# then print the set of filtered evene numbers from set1
print("Original set:- ",set1)
print("filtered even number set:- ",my_set)

Original set:-  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
filtered even number set:-  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

Q27. Multiply all elements in a set by 2.

In [107]:
# creating the set
set1={1,2,3,4,5,6,7,8,9,10}
# performing the set comprehension for multiplying each element of set with 2
new_set={i*2 for i in set1}
# printing the original and modified sets
print("Original set:- ",set1)
print("Modified set:- ",new_set)

Original set:-  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Modified set:-  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

Q28. Create a set of random numbers.

In [108]:
# importinng the librrary 'random'
import random
# taking the user input that how many random numbers we want
n=int(input("Enter the range of the random number:- "))
# creating the set called random_num_set
random_num_set=set()
# creating a loop which will iterate through each number in a range
for _ in range(n):
    random_num=random.randint(1,200)
    # now adding the random numbers in a set
    random_num_set.add(random_num)
# printing the  set of random number
print(f"Set of {n} random number is:- ",random_num_set)

Enter the range of the random number:-  12

Set of 12 random number is:-  {32, 164, 5, 36, 6, 136, 73, 107, 111, 56, 155, 127}

Q29. Check if a set is empty.

In [109]:
#step1: creating an empty set
set1=set()

# giving the conditional statement to check our set is empty or not
if not set1:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

Q30. Create a nested set (hint: use frozenset).

In [111]:
# Step 1: Create the two sets
set1 = {11,12,13,14,15}
set2 = {21,22,23,24,25}

# Step 2: Create frozenset for the two sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_sets = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_sets)

Nested Set: {frozenset({11, 12, 13, 14, 15}), frozenset({21, 22, 23, 24, 25})}

Q31. Remove an element from a set using the discard method.

In [112]:
#step1: creating the set
set1={1,2,3,4,5,6,7,8,9,10}
# removing the  element from the set using the discard() function
# discard() will remove the element if it is exist in the set if it does not exist it will not raise an error
set1.discard(6)
# printing the modified set
print("Modified set:- ",set1)

Modified set:-  {1, 2, 3, 4, 5, 7, 8, 9, 10}

Q32. Compare two sets.

In [113]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {4, 5, 6, 7, 8, 9, 10}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("the set1 is subset of set2:- ", is_subset)
print("the set2 is superset of set1:- ", is_superset)
print("Intersection:- ", intersection)
print("Union:- ", union)
print("Elements in set1 but not in set2:- ", difference1)
print("Elements in set2 but not in set1:- ", difference2)

Set 1: {1, 2, 3, 4, 5, 6, 7}
Set 2: {4, 5, 6, 7, 8, 9, 10}
the set1 is subset of set2 False
the set2 is superset of set1 False
Intersection: {4, 5, 6, 7}
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 9, 10}

Q33. Create a set from a string.

In [114]:
# step1: taking the string input from a user
string=input("Enter the string:- ")
# creating the set a pass a parametere string in it
char_set=set(string)
# printing the set of the character
print("The set from the string:- ",char_set)

Enter the string:-  ayush jain

The set from the string:-  {'u', 'i', 'y', ' ', 's', 'j', 'a', 'h', 'n'}

Q34. Convert a set of strings to a set of integers.

In [115]:
# creating the set of strings to convert it in a integer
str_set={"1","2","3","4","5","7"}
# doing the set comprehension to convert the set of strings to a integer
new_set={int(i) for i in str_set}
# printing the set of the integer
print("Set of the integer:- ",new_set)

Set of the integer:-  {1, 2, 3, 4, 5, 7}

Q35. Convert a set of integers to a set of strings.

In [116]:
# creating the set of integers to convert it in a string
str_set={1, 2, 3, 4, 5, 7}
# doing the set comprehension to convert the set of integers to a strings
new_set={str(i) for i in str_set}
# printing the set of the integer
print("Set of the strings:- ",new_set)

Set of the strings:-  {'3', '4', '2', '5', '7', '1'}

Q36. Create a set from a tuple.

In [117]:
# creating the tuple
tupl=(1,2,3,4,5,6,7,8,9,10)
# typecasting the tuple into the set
set1=set(tupl)
# printing the set
print("Set:- ",set1)

Set:-  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q37. Convert a set to a tuple.

In [118]:
# creating the set
set1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
# typecasting the set into the tuple
tupl=tuple(set1)
# printing the tuple
print("Tuple:- ",tupl)

Tuple:-  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Q38. Find the maximum value in a set.

In [119]:
# creating the set
set1={112,585345,987,213123,53645747457,9780}
# checking the maximum value from the set using max()
max_value=max(set1)
# printing the maximum value
print(f"The maximum value from the set {set1} is:{max_value}")

The maximum value from the set {112, 585345, 53645747457, 213123, 9780, 987} is:53645747457

Q39. Find the minimum value in a set.

In [120]:
# creating the set
set1={112,585345,987,213123,53645747457,9780}
# checking the minimum value from the set using max()
min_value=min(set1)
# printing the minimum value
print(f"The minimum value from the set {set1} is:{min_value}")

The minimum value from the set {112, 585345, 53645747457, 213123, 9780, 987} is:112

Q40. Create a set from user input.

In [121]:
# Get input from the user
user_input = input("Enter a comma-separated list of values: ")

# Split the input string into a list using a comma as the separator
input_list = user_input.split(',')

# Create a set from the list
user_set = set(input_list)

# Display the resulting set
print("Set created from user input:", user_set)

Enter a comma-separated list of values:  a,y,u,s,h

Set created from user input: {'u', 'y', 's', 'a', 'h'}

Q41. Check if the intersection of two sets is empty.

In [124]:
# creating the two sets
set1={1,2,3,4,5}
set2={3,4,5,6,7,8}

result=set1.intersection(set2)  # finding the intersection between both the sets

if not result:   # if result is empty
    print("intersection is empty")
else:             # if result is not empty
    print("intersection is not empty")

intersection is not empty

Q42. Create a set of the first 5 Fibonacci numbers.

In [126]:
# step1: creating the list of first two fibonacci numbers
fib_lis=[0,1]
for i in range(2,6):  # iterating the i in the range of(2,6)
    next_fib=fib_lis[i-1]+fib_lis[i-2] # storing the next fib numbers in the next fib
    fib_lis.append(next_fib)  # appending the next fib to fib lis
fib_set=set(fib_lis)   # typecasting the list into the set
print("The set of first five fibonacci numbers is:- ",fib_set)

The set of first five fibonacci numbers is:-  {0, 1, 2, 3, 5}

Q43. Remove duplicates from a list using sets.

In [127]:
# creating the list
lis=[1,2,3,4,5,66,7,8,9,10,2,5,7,8,9,1,4,2,5,7,8,9,10]
# removing the duplicates from the list using the set
unique_element=set(lis)
# creating the list of all unique number 
unique_list=list(unique_element)
# printing the original and unique list
print("Original List:- ",lis)
print("Unique List:- ",unique_list)

Original List:-  [1, 2, 3, 4, 5, 66, 7, 8, 9, 10, 2, 5, 7, 8, 9, 1, 4, 2, 5, 7, 8, 9, 10]
Unique List:-  [1, 2, 3, 4, 5, 66, 7, 8, 9, 10]

Q44. Check if two sets have the same elements, regardless of their count.

In [128]:
# Define two sets with the same elements, regardless of count
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets have the same elements
if set1 == set2:
    print("The sets have the same elements")
else:
    print("The sets do not have the same elements.")

The sets have the same elements

Q45. Create a set of the first `n` powers of 2.

In [129]:
# creating the set  comprehension for first 'n' powers of 2
n=int(input("Enter the range of the powers:- "))  # taking the 'n' input from the user
my_set={2**i for i in range(n)}
# printing the set in sorted form
print("power of 2:- ",my_set)

Enter the range of the powers:-  10

power of 2:-  {32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

Q46. Find the common elements between a set and a list.

In [130]:
# creating a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find common elements using list comprehension
common_elements = [x for x in my_list if x in my_set]

# Display the common elements
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

Q47. Create a set of the first `n` triangular numbers.

In [131]:
# creating the  function
def triangular_number_set(n):
    # performing operations in the set
    triang_set=set()
    for i in range(1,n+1):
        triang_num=i * (i+1) // 2  # formula '//' gives floor vaue like 4.5 it gives 4
        triang_set.add(triang_num)
    # typecast the list into tuple
    return triang_set

n=int(input("Enter the triangular number you want:- "))
final=triangular_number_set(n)
# printing the tuple
print("Triangular number:- ",final)

Enter the triangular number you want:-  5

Triangular number:-  {1, 3, 6, 10, 15}

Q48. Check if a set contains another set as a subset.

In [132]:
# creating the two sets
set1={1,2,3}
set2={1,2,3,4,5,6,7,8}

# checking the set contains another as subset  using issubset() function
is_sub=set1.issubset(set2)

if is_sub:
    print("Set1 is subset of set2")
else:
    print("set1 is not subset of set2")

Set1 is subset of set2

Q49. Create a set of alternating 1s and 0s of length `n`.

In [133]:
# creating the set comprehension for getting alternate 1s and 0s
n=int(input("Enter the length of alternate set:- ")) # user input

set1={1 if i % 2 == 0 else 0 for i in range(n)}

# 1 if number is even
# 0 if number is odd

# printing the set
print(set1)

Enter the length of alternate set:-  5

{0, 1}

Q50. Merge multiple sets into one.

In [134]:
# creating the three sets
set1={1,2,3}
set2={4,5,6}
set3={7,8,9}
# merging all three sets in the set4 using the union() function
set4=set1.union(set2,set3)
# printing the merged set
print("Merged set:- ",set4)

Merged set:-  {1, 2, 3, 4, 5, 6, 7, 8, 9}